.box {
    height: 300px;
    margin: auto;
    width: 80%;
}

.recipe-card-field {
    font-size: 18px;
}

.page-title {
    margin: 30px;
    text-align: center;
}

.create-recipe {
    margin-top: 30px;
}

.form-field {
    margin-bottom: 20px;
    width: 100%;
}

.username, .password {
    margin-bottom: 40px;
    width: 30%;
}

.field-name {
    font-size: 18px;
}

.form-select-field {
    min-width: 200px;
    width: 20%;
}

.form-text-area {
    min-width: 200px;
    width: 50%;
}

.form-text-field {
    min-width: 200px;
    width: 30%;
}

.recipe-name-field {
    margin-right: 10%;
}

.recipe-name-field, .recipe-difficulty-field {
    margin-right: 10%;
}

.save-button {
    background-color: blue !important;
    margin-bottom: 30px !important;
    margin-top: 30px !important;
}

.error-message {
    color: red;
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
}

.success-message {
    color: green;
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
}

.profile-section {
    display: inline-block;
    height: auto;
    margin-top: 30px;
    width: 100%;
}

.separator {
    margin-top:30px;
}

.recipe-details-half {
    display: inline-block;
    margin: 20px;
    word-break : break-word;
}

.half-container {
    max-width: 50%;
    min-width: 280px;
    width: 50%;
}

.one-line-recipe-field {
    font-size: 24px;
}

.slider {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 75px 0;
    position: relative;
}

.recipe-image {
    width: 60%;
}

.left-arrow {
    left: 0.1vw;
    font-size: 3rem !important;
    position: absolute;
    top: 50%;
    z-index: 10;
}

.right-arrow {
    font-size: 3rem !important;
    position: absolute;
    right: 0.1vw;
    top: 50%;
    z-index: 10;
}

.slide {
    display: flex;
    justify-content: center;
    opacity: 0;
    transition-duration: 1s;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
}

@media (min-width: 600px) {
    .page-title {
        font-size: 32px;
    }
    .left-arrow, .right-arrow {
        font-size: 7vw !important;
    }
}

@media (max-width: 600px) {
    .half-container {
        min-width: 80vw;
    }
}