body {
    margin: 0;
    /* display: grid; */
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.box {
    height: 300px;
    margin: auto;
    width: 80%;
}

.recipe-card-field {
    font-size: 18px;
}

.page-title {
    margin: 30px;
    text-align: center;
}

.create-recipe {
    margin-top: 30px;
}

.form-field {
    margin-bottom: 20px;
    width: 100%;
}

.username, .password {
    margin-bottom: 40px;
    width: 30%;
}

.form-button {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-button button {
    margin: 0 !important;
}

.field-name {
    font-size: 18px;
}

.form-select-field {
    min-width: 200px;
    width: 20%;
}

.form-text-area {
    min-width: 200px;
    width: 50%;
}

.form-text-field {
    margin: 0 auto;
    min-width: 200px;
    width: 30%;
}

footer {
    background-color: #ED6A58;
    color: #EEEDD6;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.register-form {
    margin-top: 20px;
    margin-bottom: 50px;
}

.recipe-name-field {
    margin-right: 10%;
}

.recipe-name-field, .recipe-difficulty-field {
    margin-right: 10%;
}

.save-button {
    margin-bottom: 30px !important;
    margin-top: 30px !important;
}

.error-message {
    color: red;
    margin-top: 20px!important;
}

.success-message {
    color: green;
    font-size: 20px;
    margin: 0;
    margin-top: 20px;
}

.profile-page {
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.profile-form-section {
    display: inline-block;
    height: auto;
    margin-top: 30px;
    width: 100%;
}

.search-button {
    margin: auto;
}
.search-more-button {
    text-align: center;
    margin: auto auto 30px;
}

.search-container {
    padding: 30px;
    text-align: center;
    justify-content: center;
    align-content: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, max-content));
}

.search-typo {
    padding: 5px;
    font-size: 0.875rem;
}

.separator {
    margin-top:30px;
}

.recipe-details-half {
    display: inline-block;
    margin: 20px;
    width: 90%;
    word-break : break-word;
}

.half-container {
    max-width: 50%;
    min-width: 280px;
    width: 50%;
}

.one-line-recipe-field {
    font-size: 24px;
}

.slider {
    align-items: center;
    justify-content: center;
    margin: 75px 0;
    position: relative;
}

.recipe-image {
    width: 60%;
}

.left-arrow {
    left: 0.1vw;
    font-size: 3rem !important;
    position: absolute;
    top: 50%;
    z-index: 10;
}

.recovery-button {
    margin: 20px;
    text-align: center;
}

.right-arrow {
    font-size: 3rem !important;
    position: absolute;
    right: 0.1vw;
    top: 50%;
    z-index: 10;
}

.slide {
    display: flex;
    justify-content: center;
    opacity: 0;
    transition-duration: 1s;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
}

@media (min-width: 600px) {
    .page-title {
        font-size: 32px;
    }
    .left-arrow, .right-arrow {
        font-size: 7vw !important;
    }
}

@media (max-width: 600px) {
    .half-container {
        min-width: 80vw;
    }
}

.score-list {
    width: 70px !important;
}
.send-score-button {
    margin: 10px !important;
}

.hidden {
    display: none;
}

.centered-text {
    text-align: center;
}

.my-recipes-none-found {
    margin-bottom: 20px;
    margin-top: 20px;
}